<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <!-- Include CSS files here -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Quiz Genius</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</head>

<body>
    <nav>
        <ul>
            {% if user.is_authenticated %}
{#                {%  if user.quiz.status == 'ongoing' %}#}
{#                    <li><a href="{% url 'user_management' %}">User Management</a></li>#}
{#                {% endif %}#}
                {% if user.is_staff or user.is_superuser %}
                    <!-- Show links for staff or superusers -->
                    <li><a href="{% url 'user_management' %}">User Management</a></li>
                    <li><a href="{% url 'user_quiz_management' %}">Quiz Result Management</a></li>
                    <li><a href="{% url 'question_management' %}">Question Management</a></li>
                {% else %}
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <!-- For regular users, show based on permissions -->
                    {% if perms.web.change_profile %}
                        <li><a href="{% url 'user_management' %}">User Management</a></li>
                    {% endif %}
                    {% if perms.web.change_quiz %}
                        <li><a href="{% url 'user_quiz_management' %}">Quiz Management</a></li>
                    {% endif %}
                    {% if perms.web.change_question %}
                        <li><a href="{% url 'question_management' %}">Question Management</a></li>
                    {% endif %}


                {% endif %}
                <form action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <li><a href="{% url 'logout' %}">Logout</a></li>
                </form>
            {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'register' %}">Register</a></li>
            {% endif %}

        </ul>
    </nav>

    {% block content %}
    {% endblock %}

</body>
</html>
