{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <!-- Display Quiz Categories -->
    <h2>Quiz Categories</h2>
    <ul>
        {% for category in categories %}
{#        <li>{{ category.name }}</li>#}
            <li><a href="{% url 'quiz' category_name=category.name %}">{{ category.name }}</a></li>
        {% endfor %}
    </ul>

    <!-- Display Recent Quizzes for Logged-in User -->
    {% if user_quizzes %}
        <h2>Recent Quizzes</h2>
        <table>
            <tr>
                <th>Quiz Name</th>
                <th>Taken Time</th>
                <th>Result</th>
                <th>Detail</th>
                <!-- Include other headers like 'Result' -->
            </tr>
            {% for quiz in user_quizzes %}
            <tr>
                <td>{{ quiz.name }}</td>
                <td>{{ quiz.calculate_duration}}</td>
                <td>{{ quiz.get_result }}</td>
{#                <td><a href="{% url 'quiz_result' quiz_id=quiz.id %}">{{ quiz.category.name }}</a></td>#}
                <td><a href="{% url 'quiz_result' pk=quiz.id %}">Link to Results</a></td>

{#                <td><a>href="{% url 'quiz_result' pk=id %}</a>Link</td>#}
            </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}
