{% extends 'base.html' %}

{% block content %}
    <h1>{{ quiz.name }}</h1>
    <form method="post">
        {% csrf_token %}
        {% for question in questions %}
            <div>
                <p>{{ question.question.description }}</p>
                {% for choice in question.question.choices.all %}
                    <input type="radio" name="question_{{ question.id }}" value="{{ choice.id }}">
                    <label>{{ choice.description }}</label><br>
                {% endfor %}
            </div>
        {% endfor %}
        <button type="submit">Submit Quiz</button>
    </form>
{%  endblock %}